:root {
    --block-size: 30px;
}


html {
    background-color: rgb(13, 24, 34);
}

body {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    /* background-color: rgb(2, 11, 21); Temp */
}


@font-face {
  font-family: "Main";
  src: url("Asstes/Fonts/AgencyFB.TTF");
  font-weight: normal;
  font-style: normal;
}

p {
    color: azure;
    font-family: "Main";
    margin: 0;
}



.block_grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--block-size));
    position: relative;
    width: fit-content;
    height: auto;
}
.block_grid.entities {
    display: grid;
    padding-top: 50px; /* Also change in block highlight */
    grid-template-columns: repeat(var(--columns), var(--block-size));
    grid-template-rows: calc(var(--block-size) * 3.33);
    grid-auto-rows: var(--block-size);
}

.block_grid * {
    z-index: 2;
}
.block_grid .entity {
    z-index: 3;
}

.block_grid p {
    font-size: calc(var(--block-size) / 1.875);
}


.block_grid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.block_grid.entities > img:not(.entity) {
    grid-row: 2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}
.block_grid.entities > .entity {
    grid-row: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-decoration: none;

    width: 100%;
    height: 100%;
}
.block_grid.entities > .entity > img {
    width: 200%;
    height: 70%;
    top: calc(var(--block-size) / 3 * 2);
    right: calc(var(--block-size) * 0.65);
    position: relative;

    transition: transform 0.1s ease, opacity 0.1s ease;
}
.block_grid.entities > .entity > img:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
    transform: scale(1.2);
}
.block_grid.entities > .entity > p {
    width: 300px;
    text-align: center;
    position: relative;
    right: calc(150px - var(--block-size)/2);
    top: calc(var(--block-size) / 2);
}

.block_grid.entities > .highlight {
    position: absolute;
    z-index: 1;

    width: calc(var(--block-size) * (var(--highlight-blocks) * 2 + 1));
    height: calc(var(--block-size) / 3);

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
    
    left: 50%;
    top: calc(var(--block-size) * 4.33 + 50px);
    transform: translateX(-50%);
}
.block_grid.entities > .highlight ~ .highlight {
    top: calc(var(--block-size) * 3.05 + 50px);
}
.block_grid.entities > .highlight ~ .highlight ~ .highlight {
    top: calc(var(--block-size) * 4.66 + 50px);
    z-index: 0;
}

.block_grid.entities > .highlight > p {
    position: relative;
    top: calc(var(--block-size) / 2.33);
}
.block_grid.entities > .highlight + .highlight > p {
    bottom: calc(var(--block-size) * 0.76);
    top: unset;
}
.block_grid.entities > .highlight + .highlight + .highlight > p {
    top: calc(var(--block-size) / 2.33);
    bottom: unset;
    left: 5px;
}

.block_grid.entities > p {
    position: absolute;
    left: calc(50% + var(--block-size) / 1.2);
    right: unset;
    top: calc(var(--block-size) * 7.2 + 50px);
    transform: translateY(-100%);
    width: 300px;
    text-align: left;
    font-size: calc(var(--block-size) / 1.4);
}
.block_grid.entities > .entity + p {
    right: 0;
    left: unset;
    top: calc(var(--block-size) * 2.3 + 50px);
    transform: unset;
    text-align: right;
}


/* Blocks: */
.block_grid img.dirt {
    content: url(https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/3d/Dirt_%28texture%29_JE2_BE2.png);
}

.block_grid img.andesite {
    content: url(https://static.wikia.nocookie.net/minecraft_gamepedia/images/f/ff/Polished_Andesite_%28texture%29_JE2_BE2.png);
}

.block_grid img.diorite {
    content: url(https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/de/Polished_Diorite_%28texture%29_JE2_BE2.png);
}

.block_grid img.diamond {
    content: url(https://static.wikia.nocookie.net/minecraft_gamepedia/images/b/b4/Block_of_Diamond_%28texture%29_JE4_BE3.png);
}



/* Entities: */
.block_grid img.villager {
    content: url(https://minecraft.wiki/images/thumb/Plains_Villager_Base_JE2.png/181px-Plains_Villager_Base_JE2.png);
}

.block_grid img.zombie {
    content: url(https://minecraft.wiki/images/thumb/MCE_Zombie.png/150px-MCE_Zombie.png);
}

.block_grid img.pillager {
    content: url(https://minecraft.wiki/images/thumb/Pillager_JE3.png/150px-Pillager_JE3.png);
    right: calc(var(--block-size)) !important;
}

.block_grid img.iron_golem {
    content: url(https://static.wikia.nocookie.net/minecraft_gamepedia/images/0/02/Iron_Golem_JE2_BE2.png);
    height: 100% !important;
    right: calc(var(--block-size) * 0.5) !important;
}

.block_grid img.zoglin {
    content: url(https://minecraft.wiki/images/Zoglin_JE1.png);
    width: 270% !important;
    right: calc(var(--block-size) * 1.1) !important;
    top: calc(var(--block-size) / 4 * 3) !important;
}







.timeline {
    display: flex;
    flex-direction: row;

    margin: 50px 0px;

    padding-top: 50px;

    height: calc(var(--size) / 30);
    width: var(--size);

    position: relative;
}

.timeline > .block {
    height: 100%;
    width: 100%;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);

    flex: 1;
    position: relative;

    display: flex;
    align-items: center;
}

.timeline > .block:nth-child(3n + 1) {
    background-color: rgb(55, 120, 190);
}
.timeline > .block:nth-child(3n + 2) {
    background-color: rgb(87, 140, 197);
}
.timeline > .block:nth-child(3n) {
    background-color: rgb(128, 169, 212);
}

.timeline > .block::before {
    content: "";
    position: absolute;
    height: 150%;
    width: calc(var(--size) / 225);
    background-color: azure;
    transform: translateX(-50%);
    bottom: -7%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.timeline > .block::after {
    content: "";
    position: absolute;
    height: 150%;
    width: calc(var(--size) / 225);
    background-color: azure;
    transform: translateX(50%);
    right: 0;
    bottom: -7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.timeline > .block > p {
    width: 100%;
    text-align: center;
    font-size: calc(var(--size) / 56);
}

.timeline > .timespan {
    position: absolute;

    height: calc(var(--size) / 60);
    width: calc(var(--duration) / var(--total) * 100%);
    left: calc(var(--start) / var(--total) * 100%);

    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
}

.timeline > .timespan.level_1 {
    bottom: calc(var(--size) / 13.3);
}
.timeline > .timespan.level_2 {
    bottom: calc(var(--size) / 13.3 + var(--size) / 72);
}
.timeline > .timespan.level_3 {
    bottom: calc(var(--size) / 13.3 + var(--size) / 36);
}

.timeline > .timespan > img {
    width: calc(var(--size) / 17.5);
    height: calc(var(--size) / 17.5);
    object-fit: contain;

    position: absolute;

    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));

    left: 0;
    transform: translate(-50%, -50%);
}

.timeline > .timespan > img.start {
    left: 0;
    right: unset;
    transform: translate(-50%, -50%);
}
.timeline > .timespan > img.end {
    left: unset;
    right: 0;
    transform: translate(50%, -50%);
}


.timeline > .legend {
    position: absolute;
    display: flex;

    flex-direction: column;
    gap: calc(var(--size) / 50);

    right: calc(var(--size) / 10);
    bottom: calc(var(--size) / 15);
}

.timeline > .legend > div {
    width: calc(var(--size) / 67);
    height: calc(var(--size) / 67);

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.timeline > .legend > div > p {
    position: relative;
    left: calc(var(--size) / 48);
    width: 200px;
    transform: translateY(-25%);
    font-size: calc(var(--size) / 44.6);
}

p.text {
    font-size: 24px;
}